* {
  font-family: "Inter", sans-serif;
}
body {
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
}
.logo {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

#buscar {
  margin: auto;
  margin-top: 32px;
  width: 543px;
  height: 38px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 2px solid #24444c;
  background: #fff;
}

#menusuperior button {
  margin-top: 32px;
  margin: auto;
  width: 120px;
  height: 38px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #24444c;
  border: none;
  padding: 10px;
  color: rgb(255, 255, 255);
  font-weight: thin;
  transition: all ease 0.3s;
  cursor: pointer;
}

#menusuperior {
  display: grid;
  grid-auto-flow: column;
  columns: auto;
  margin-bottom: 50px;
}
#categorias {
  display: grid;
  grid-auto-flow: column;
  columns: auto;
  border-top: solid 1px #24444c;
  border-bottom: solid 1px #24444c;
  align-items: center;
}
a {
  text-decoration: none;
  color: #3cb86d;
}
#slider {
  margin: 50px auto;
  width: 800px;
  overflow: hidden;
}
.slides {
  width: 400%;
  height: 400px;
  display: flex;
}
.slides input {
  display: none;
}
#slider img {
  width: 800px;
  border-radius: 10px;
}
.slides {
  width: 25%;
  position: relative;
}
.manual-navigation {
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}
.manual-btn {
  border: 2px solid #fff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
.manual-btn:not(:last-child) {
  margin-right: 40px;
}
.manual-btn:hover {
  background-color: #fff;
}
#radio1:checked ~ .first {
  margin-left: 0;
}
#radio2:checked ~ .first {
  margin-left: -400%;
}
#radio3:checked ~ .first {
  margin-left: -800%;
}
#radio4:checked ~ .first {
  margin-left: -1200%;
}
.receitas h2 {
  text-align: left;
  color: #3cb86d;
  margin-left: 10px;
}
.imgReceitas {
  display: grid;
  grid-auto-flow: column;
  columns: auto;
}
.imgReceitas img {
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
}
.imgReceitas h3 {
  padding: 0;
  margin: 0;
  text-align: left;
  margin-left: 10px;
  color: #3cb86d;
  font-size: 15pt;
}
#tenhocasa {
  border-radius: 10px;
  background-color: #24444c;
  color: white;
  height: auto;
  display: grid;
}
.ingrediente {
  border: none;
  border-radius: 10px;
  width: 500px;
  height: 30px;
  margin: auto;
}
#buttoningredientes {
  width: 150px;
  height: 50px;
  margin: auto;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #3cb86d;
  color: white;
  font-size: 15pt;
  box-shadow: 3px 5px 10px #3cb86e60;
  cursor: pointer;
}
#buttoningredientes:hover {
  background-color: #5ba4b6;
}
#buttoningredientes:active {
  background-color: #17b355;
  box-shadow: 0 5px #3cb86e60;
}
footer {
  border-radius: 10px 10px 0px 0px;
  color: #fff;
  background-color: #17b3556e;
}
#final {
  display: grid;
  grid-auto-flow: column;
  columns: auto;
  padding-bottom: 20px;
}
#redes {
  width: 300px;
  margin-top: 70px;
}
#app {
  margin-left: 200px;
}
#apple {
  width: 80px;
}
#apple:hover {
  cursor: pointer;
}
#android {
  width: 80px;
}
#android:hover {
  cursor: pointer;
}
